/* .sidebar{
    height: 90%;
    background-color: aqua;
    width: 15%;
} */
:root{
   
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1707c4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #383838;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
/* ===== Sidebar ===== */
 .sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: var(--sidebar-color);
    z-index: 100;  
}


/* ===== Reusable code - Here ===== */

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .text{
    color: var(--text-color);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
}

.sidebar li a:hover .text{
    color: var(--primary-color);
}
.news-card{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    height: 180px;
    width: 80%;
    margin-bottom: 20px;
    padding: 5px;
}

.news-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}
.cover{
    text-align: center;
    height: 250px;
    width: 250px;
}
.cover img{
    height: 170px;
    width: 176px;
}
.img-cover img{
    object-fit:fill;
}
.about-news{
    margin:10px
}
.news-title{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    color: #000;
}
.about-news{
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
}
.news-author{
    font-size: 13px;
    font-weight: 500;
    margin: 10px;
    color: #000;
    bottom: 0;
}
.read-more-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.readme-btn{
    background-color: #8269f4;
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.next-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-div,
.analylics-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


