
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root{
  background-color: #ebe9fb;
}
.text-css {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.main-div {
  width: 100%;
  height: 100vh;
}

.main-body {
  display: flex;
  width: 100%;
  height: 95%;
  background-color: #ebe9fb;
}

.content-div {
  width: 100%;
  height: 95%;
  background-color: #ebe9fb;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.input-bar {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #8269f4;
  border-radius: 4px;
  outline: #8269f4;
  width: 100%;
  border-radius: 5px;
}

.search-results {
  list-style-type: none;
  padding: 0;
  background-color: white;
  border-radius: 4px;
}

.search-results li {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 5px;
}

.search-results li:hover {
  background-color: #aea1e7;
}

/* Media query for devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  .main-body {
    flex-direction: column;
  }
  
  .content-div {
    height: auto;
  }
  
  .input-div {
    margin-bottom: 10px;
  }
  
  .input-bar {
    font-size: 12px;
  }
}

/* Media query for devices with a maximum width of 400px */
@media only screen and (max-width: 400px) {
  .text-css {
    font-size: 12px;
  }
  
  .input-bar {
    padding: 6px;
    font-size: 10px;
  }
  
  .search-results li {
    padding: 3px;
    margin: 3px 0;
    font-size: 12px;
  }
}
